@import url("https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lexend+Giga:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lexend+Exa:wght@100..900&family=Lexend+Giga:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lexend+Exa:wght@100..900&family=Lexend+Giga:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');
* {
  margin: 0px;
  padding: 0px;
}
.pagina1 {
  background-image: url(leone-venter-VieM9BdZKFo-unsplash.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0px;
  height: 1300px;
  width: 1290px;
  padding: 30px;
  
}
.imagempng {
  width: 455px;
  margin-top: 106px;
  margin-left: 420px;
}
.titulo {
  margin: 145px;
  margin-bottom: -183px;
  margin-top: 120px;
  font-size: 2.0em;
  
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  color: rgb(12, 12, 12);
}
.navegacao {
  text-decoration: none;
  margin-left: 30px;
  font-size: 2em;
  padding: 40px;
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  background-size: 20px;
  border-radius: 200px;
  margin-top: 20px;
  font-weight: 300;

}
.navegacao:hover {
  transition: 0.7s;
  color: rgb(138, 138, 138);
  font-weight: 500;
  
  
}
#pagina2 {
  background-color: rgb(70, 70, 70);
  margin-top: -463px;
  height: 700px;
  display: flex;
  width: 1351px;
}
#fotominhacara {
  width: 400px;
  height: 400px;
  margin-top: 160px;
  margin-left: 100px;
  box-shadow: 7px 2px 10px rgb(37, 37, 37);
  border-radius: 10px;
}
#subtitulo1 {
  margin-left: 50px;
  font-size: 2.5em;
  margin-top: 170px;
  margin-bottom: -50px;
  color: white;
  font-family: "SUSE Mono", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
#parasobre {
  margin-top: 100px;
  margin-bottom: -10px;
  font-size: 1.7em;
  width: 600px;
  margin-left: 50px;
  color: white;
  font-family:  "SUSE Mono", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;;
}

#pagina3 {
  background-color: rgb(70, 70, 70);
  height: 600px;
  width: 1351px;

}

#subtitulo2 {
  font-size: 3em;
  text-align: center;
  margin-bottom: 60px;
  color: white;
  font-family: "SUSE Mono", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  
}

#contato{
    background-color: rgb(212, 212, 212);
    padding: 200px;
    width: 951px;
    

}
.logo_contato{
    display: flex;
    width: 200px;
    border-radius: 200px;
    
    
    
    
}
.logo_contato1:hover{
  width: 210px;
  border-radius: 40px;
  box-shadow: 10px 10px 10px  rgb(128, 127, 127) ;
  transition: 0.5s;
  
}

#subtitulo3{
  font-size: 3em;
  text-align: center;
  margin-bottom: 60px;
  color: rgb(7, 7, 7);
  font-family: "SUSE Mono", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;

}
.imgstar{
  margin-left: 100px;
  width: 300px;
  border-radius: 155px;
  transition: 0.4s;
}
.imgstar:hover{
  width: 320px;
  
  box-shadow: 10px 10px 10px rgb(44, 44, 44);
  border-radius: 155px;
}
.Sitestarbucks{
  display: flex;
  margin-top: 30px;
}
.slogan_star{
  width: 600px;
  font-size: 2.5em;
  margin: 80px;
  font-family:   "SUSE Mono", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  color: aliceblue;
  
}

